<div class="col-sm-12 col-lg-6">
    <form name="userForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 ng-hide="editing" class="panel-title tc_userAddTitle">Create User: {{user.username}}</h3>
                <h3 ng-show="editing" class="panel-title tc_userEditTitle">Edit User: {{user.username}}</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || userForm.username.$dirty) &&
                        userForm.username.$invalid}">
                        <label class="col-sm-3 control-label" for="userUsername">Username</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-prepend fa fa-user"></i></span>
                                <input class="form-control" type="text" placeholder="Username..."
                                       ng-model="user.username" name="username" id="userUsername" required validname uniquename="user">
                            </div>
                                <span class="help-block tc_usernameRequired" ng-show="(submitted ||userForm.username.$dirty)
                                && userForm.username.$error.required">
                                    The username is required.
                                </span>
                            <span class="help-block tc_userNameNotValid" ng-show="userForm.username.$error.validname">{{errortext}}</span>
                                <span class="help-block tc_noUniqueName" ng-show="userForm.username.$error.uniquename">
                                    The chosen user name is already in use.
                                </span>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!editing" ng-class="{'has-error': (submitted || userForm.password.$dirty)
                        && userForm.password.$invalid}">
                        <label class="col-sm-3 control-label" for="userPassword">Password</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-prepend fa fa-key"></i></span>
                                <input class="form-control" type="password" placeholder="Password..."
                                       ng-model="user.password" name="password" id="userPassword" required>
                            </div>
                                <span class="help-block tc_passwdRequired" ng-show="(submitted ||userForm.password.$dirty)
                                && userForm.password.$error.required">
                                    A password is required.
                                </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="userFirstname">Firstname</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-prepend fa fa-user"></i></span>
                                <input class="form-control" type="text" placeholder="Firstname..."
                                       ng-model="user.first_name" name="firstname" id="userFirstname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="userLastname">Lastname</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-prepend fa fa-user"></i></span>
                                <input class="form-control" type="text" placeholder="Lastname..."
                                       ng-model="user.last_name" name="last" id="userLastname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': (submitted || userForm.email.$dirty) &&
                        userForm.email.$invalid}">
                        <label class="col-sm-3 control-label" for="userEmail">Email Address</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-prepend fa fa-envelope-o"></i></span>
                                <input class="form-control" type="email" placeholder="Email Address..."
                                       ng-model="user.email" name="email" id="userEmail">
                            </div>
                                <span class="tc_emailNotValid" ng-show="(submitted ||userForm.email.$dirty) && userForm.email.$error.email">
                                    It's not a valid email address.
                                </span>
                        </div>
                    </div>
                    <div class="form-group" ng-if="isCurrentUser">
                        <label class="col-sm-3 control-label" for="userAuthToken">API authentication token</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="icon-prepend fa fa-user-secret"></i></span>
                                <input class="form-control" type="text" ng-model="user.auth_token.token"
                                    name="authtoken" id="userAuthToken" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default tc_generate_btn" type="button" uib-tooltip="Generate"
                                        ng-click="generateAuthToken()">
                                        <i class="icon-prepend fa fa-refresh"></i>
                                    </button>
                                    <button class="btn btn-default" type="button" uib-tooltip="Copy to clipboard"
                                        oa-clipboard oa-clipboard-target="userAuthToken"
                                        oa-clipboard-text="API authentication token">
                                        <i class="icon-prepend fa fa-clipboard"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!isCurrentUser">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" ng-model="user.is_active" name="active" id="userActive">
                                <label for="userActive">
                                    Is active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!isCurrentUser">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" ng-model="user.is_staff" name="staff" id="userStaff">
                                <label for="userStaff">
                                    Is administrator
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!isCurrentUser">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" ng-model="user.is_superuser" name="superuser"
                                       id="userSuperuser">
                                <label for="userSuperuser">
                                    Has all privileges
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit"
                            class="btn btn-sm btn-primary tc_submitButton"
                            ng-click="submitAction(userForm)"
                            ng-disabled="userForm.$invalid || userForm.$submitted">
                        Submit
                        <i class="fa fa-spinner fa-spin fa-fw" ng-if="userForm.$submitted"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>