<div class="openattic-modal-header">
  <span>Edit widget '{{data.name}}'</span>
</div>

<form name="editForm" role="form" novalidate>
  <div class="openattic-modal-content">
    <p>
      You are about to edit the widget <strong>{{data.name}}</strong>.
    </p>

    <p>
      To confirm, please enter the information below and click <kbd>Edit widget</kbd>, or cancel and return to the page.
    </p>

    <div class="form-group">
      <label for="manager" class="control-label">Type</label>
      <select id="manager"
              class="form-control"
              ng-model="input.manager"
              ng-options="m.name group by m.group for m in data.manager track by m.name"
              required
              autofocus>
        <option value="">-- Select a type --</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name" class="control-label">Name</label>
      <input type="text"
             id="name"
             class="form-control"
             ng-model="input.name"
             ng-maxlength="30"
             maxlength="30"
             required>
    </div>

    <ceph-cluster-performance-settings ng-if="input.manager.manager === 'ceph-cluster-performance'">
    </ceph-cluster-performance-settings>
  </div>

  <div class="openattic-modal-footer">
    <div class="button-group text-right">
      <button id="bot2-Msg1" class="btn btn-primary btn-sm"
              ng-click="editWidget()" ng-disabled="editForm.$invalid">
        Edit widget
      </button>
      <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</form>