{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}
{%- set reldelim1 = reldelim1 is not defined and ' &raquo;' or reldelim1 %}
{%- set reldelim2 = reldelim2 is not defined and ' |' or reldelim2 %}
{%- set render_sidebar = (not embedded) and (not theme_nosidebar|tobool) and
                         (sidebars != []) %}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}

{%- macro relbar() %}
    <div id="rootline" class="related">
      <ul>
        {%- for rellink in rellinks %}
        <li class="right" {% if loop.first %}style="margin-right: 10px"{% endif %}>
          <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags|e }}"
             {{ accesskey(rellink[2]) }}>{{ rellink[3] }}</a>
          {%- if not loop.first %}{{ reldelim2 }}{% endif %}</li>
        {%- endfor %}
      </ul>
      {%- block rootrellink %}
      <span class="rootline_element">
        <a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>
      </span>
      <span class="rootline_seperator">»</span>
      {%- endblock %}
      {%- for parent in parents %}
        <span class="rootline_element">
          <a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a>
        </span>
        <span class="rootline_seperator">»</span>
      {%- endfor %}
      {%- block relbaritems %} {% endblock %}
    </div>
{%- endmacro %}

{%- macro sidebar() %}
      {%- if render_sidebar %}
          {%- block sidebarlogo %}
          {%- endblock %}
          {%- if sidebars != None %}
            {#- new style sidebar: explicitly include/exclude templates #}
            {%- for sidebartemplate in sidebars %}
            {%- include sidebartemplate %}
            {%- endfor %}
          {%- else %}
            {#- old style sidebars: using blocks -- should be deprecated #}
            {%- block sidebartoc %}
            {%- include "localtoc.html" %}
            {%- endblock %}
            {%- block sidebarrel %}
            {%- include "relations.html" %}
            {%- endblock %}
            {%- block sidebarsourcelink %}
            {%- include "sourcelink.html" %}
            {%- endblock %}
            {%- if customsidebar %}
            {%- include customsidebar %}
            {%- endif %}
            {%- block sidebarsearch %}
            {%- include "searchbox.html" %}
            {%- endblock %}
          {%- endif %}
      {%- endif %}
{%- endmacro %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ encoding }}" />

        {%- if not embedded and docstitle %}
          {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
        {%- else %}
          {%- set titlesuffix = "" %}
        {%- endif %}
        {%- block htmltitle %}
        <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
        {%- endblock %}

        <!-- css -->
        <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
        <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
        <link rel="stylesheet" href="{{ pathto('_static/typo3_main.css', 1) }}" type="text/css" />
        <link rel="stylesheet" href="{{ pathto('_static/itnstyle.css', 1) }}" type="text/css" />
        <link rel="stylesheet" href="{{ pathto('_static/css/bootstrap.min.css', 1) }}" type="text/css">
        <link rel="stylesheet" href="{{ pathto('_static/css/rst.css', 1) }}" type="text/css">
        <link rel="stylesheet" href="{{ pathto('_static/css/code.css', 1) }}" type="text/css">
        <link rel="stylesheet" href="{{ pathto('_static/css/colorbox.css', 1) }}" type="text/css">
        <link rel="stylesheet" href="{{ pathto('_static/css/theme.css', 1) }}" type="text/css">
        <link rel="stylesheet" href="{{ pathto('_static/css/custom.css', 1) }}" type="text/css">

        <!-- favicon -->
        <link rel="icon" href="{{ pathto('_static/images/openattic_favicon.png', 1) }}" sizes="32x32">

    {%- block linktags %}
      {%- if hasdoc('about') %}
        <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
      {%- endif %}
      {%- if hasdoc('genindex') %}
        <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
      {%- endif %}
      {%- if hasdoc('search') %}
        <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
      {%- endif %}
      {%- if hasdoc('copyright') %}
        <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
      {%- endif %}
        <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}" />
      {%- if parents %}
        <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}" />
      {%- endif %}
      {%- if next %}
        <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
      {%- endif %}
      {%- if prev %}
        <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
      {%- endif %}
    {%- endblock %}
    {%- block extrahead %} {% endblock %}

        <!-- javascript -->
        <script src="{{ pathto('_static/js/jquery.min.js', 1) }}"></script>
        <script src="{{ pathto('_static/js/bootstrap.min.js', 1) }}"></script>
        <!--[if lt IE 9]><script src="{{ pathto('_static/js/html5.js', 1) }}"></script><![endif]-->
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-68510807-1', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-navbar"
                            aria-controls="bs-navbar"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://openattic.org">
                        <img src="{{ pathto('_static/images/openattic_small.png', 1) }}" alt="openATTIC" id="logo">
                    </a>
                </div>
                <!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li><a href="http://openattic.org/features.html">Features</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://openattic.org/blog/">Blog</a></li>
                                <li><a href="http://openattic.org/archive.html">Archive</a></li>
                                <li><a href="http://openattic.org/categories/index.html">Tags</a></li>
                                <li><a href="http://openattic.org/authors/index.html">Authors</a></li>
                                <li><a href="http://openattic.org/rss.xml">RSS feed</a></li>
                            </ul>
                        </li>
                        <li><a href="http://openattic.org/download.html">Download</a></li>
                        <li><a href="http://docs.openattic.org/2.0/">Documentation</a></li>
                        <li><a href="http://openattic.org/media.html">Media</a></li>
                        <li><a href="http://openattic.org/get-involved.html">Getting Involved</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.rst" id="sourcelink">Source</a></li>
                    </ul>
                </div>
          <!-- /.navbar-collapse -->
            </div>
        <!-- /.container -->
        </nav>
        <!-- navigation:end -->

        <section id="main">
            <div class="container">
                <!-- end typo3 template header -->
                <div id="bodywrapper">
                {%- block content %}
                    <div id="content-wrapper" class="document">
                        <div class="clearer"></div>
                        <div class="col-25 table-of-contents last-col">
                            <div class="col-wrapper">
                                {%- block sidebar2 %}{{ sidebar() }}{% endblock %}
                            </div>
                        </div>
                        {%- block document %}
                        <div class="col-75 last-col">
                            <div class="col-wrapper">
                                <div class="documentwrapper">
                                    <div class="body">
                                        {% block body %} {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%- endblock %}
                        <div class="clearer"></div>
                    </div>
                    {%- endblock %}
                    <!-- typo3 template footer -->
                </div>

                <!-- footer -->
                <footer id="footer">
                  © 2017 <a href="mailto:info@openattic.org">openATTIC</a>
                </footer>
            </div>
        </section>
    </body>
</html>
