<div class="openattic-modal-header">
    <span>Delete log entry by date</span>
</div>

<form name="pickDateForm" role="form" novalidate>
    <div class="openattic-modal-content">
        <p>
            Select a date. All entries that are older than this date will be deleted.
        </p>
        <p>
            To confirm, please click <kbd>Delete</kbd>, or cancel and return to the page.
        </p>

        <div class="form-group"
             ng-class="{'has-error': (submitted || pickDateForm.datePicker.$dirty) && pickDateForm.datePicker.$invalid}">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{datePicker.format}}" ng-model="datePicker.dateTime"
                       is-open="datePicker.opened" show-button-bar="datePicker.showBtnBar" max-date="datePicker.maxDate"
                       name="datePicker" datepicker-options=options required>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="open($event)">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </span>
            </p>

            <!-- Error -->
            <span class="help-block" ng-show="pickDateForm.datePicker.$dirty && pickDateForm.datePicker.$error.required">
                This field is required.
            </span>
            <!-- end Error -->
        </div>
    </div>

    <div class="openattic-modal-footer">
        <div class="button-group text-right">
            <button id="bot2-Msg1" class="btn btn-primary btn-sm"
                    ng-click="delete()"
                    ng-disabled="pickDateForm.$invalid || pickDateForm.$submitted">
                Delete
                <i class="fa fa-spinner fa-spin fa-fw" ng-if="pickDateForm.$submitted"></i>
            </button>
            <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
        </div>

    </div>
</form>