<div ng-controller="FilestorageCtrl">
    <br /><br />
    <div class="widget-body">
        <wizard>
            <div class="tab-content">
                <div ng-class="{'active': isActiveTab(1)}" title="Create Volume" class="tab-pane">
                    <h3 class="tc_oawizard_h3"><strong>File Storage Step 1 </strong> - Create Volume</h3>
                    <form name="$parent.contentForm1" role="form" class="form-horizontal" novalidate>
                        <volume-add-form volume-form="contentForm1" result="input.volume" wizard="true" avail-types="limitTypes"></volume-add-form>
                    </form>
                </div>
                <div ng-class="{'active': isActiveTab(2)}" title="Create Shares" class="tab-pane">
                    <h3 class="tc_step2"><strong>File Storage Step 2 </strong> - Which Shares do you need?</h3>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" ng-model="input.cifs.create" id="needcifs">
                        <label for="needcifs">CIFS Share</label>
                    </div>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" ng-model="input.nfs.create" id="neednfs">
                        <label for="neednfs">NFS Share</label>
                    </div><br /><br />
                    <form name="$parent.contentForm2" role="form" class="form-horizontal" novalidate>
                        <uib-accordion close-others="false">
                            <div uib-accordion-group is-open="input.cifs.create">
                                <uib-accordion-heading>
                                    CIFS
                                    <i class="pull-right" ng-class="{'fa fa-angle-up': input.cifs.create,
                                    'fa fa-angle-down': !input.cifs.create}"></i>
                                </uib-accordion-heading>
                                <div class="form-group" ng-class="{'has-error': (contentForm2.submitted ||
                                    contentForm2.cifsname.$dirty) && contentForm2.cifsname.$invalid}">
                                    <label class="col-md-2 control-label" for="cifsname">Name</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                            <input type="text" class="form-control" id="cifsname"
                                                   placeholder="Name..." ng-model="input.cifs.name" name="cifsname"
                                                   ng-required="input.cifs.create">
                                        </div>
                                        <span class="help-block tc_cifsNameRequired" ng-show="(contentForm2.submitted ||
                                            contentForm2.cifsname.$dirty) && contentForm2.cifsname.$error.required">
                                            This field is required!
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="cifscomment">Comment</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                            <input type="text" class="form-control" id="cifscomment"
                                                   placeholder="Comment (shows up in the detail view of Windows Explorer)..."
                                                   ng-model="input.cifs.comment" name="cifscomment">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" ng-model="input.cifs.available"
                                                   name="cifsavailable" id="cifsavailable">
                                            <label for="cifsavailable">
                                                Is available
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" ng-model="input.cifs.browseable"
                                                   name="cifsbrowseable" id="cifsbrowseable">
                                            <label for="cifsbrowseable">
                                                is browseable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" ng-model="input.cifs.writeable"
                                                   name="cifswriteable" id="cifswriteable">
                                            <label for="cifswriteable">
                                                Is writeable
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox checkbox-primary">
                                            <input type="checkbox" ng-model="input.cifs.guest_ok" name="cifsguestok"
                                                   id="cifsguestok">
                                            <label for="cifsguestok">
                                                Accessible by guests
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div uib-accordion-group is-open="input.nfs.create">
                                <uib-accordion-heading>
                                    NFS
                                    <i class="pull-right" ng-class="{'fa fa-angle-up': input.nfs.create,
                                    'fa fa-angle-down': !input.nfs.create}"></i>
                                </uib-accordion-heading>
                                <div class="form-group" ng-class="{'has-error': (contentForm2.submitted ||
                                    contentForm2.nfsaddress.$dirty) && contentForm2.nfsaddress.$invalid}">
                                    <label class="col-md-2 control-label" for="nfsaddress">Address</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="icon-prepend fa fa-share"></i>
                                            </span>
                                            <input class="form-control" type="text" placeholder="Address..."
                                                   ng-model="input.nfs.address" name="nfsaddress" id="nfsaddress"
                                                   ng-required="input.nfs.create">
                                        </div>
                                        <span class="help-block tc_nfsAddressRequired" ng-show="(contentForm2.submitted ||
                                            contentForm2.nfsaddress.$dirty) &&
                                            contentForm2.nfsaddress.$error.required">
                                            The address is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="nfsoptions">Options</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="icon-prepend fa fa-share"></i>
                                            </span>
                                            <input class="form-control" type="text" placeholder="Options..."
                                                   ng-model="input.nfs.options" name="nfsoptions" id="nfsoptions">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion>
                    </form>
                </div>
                <div ng-class="{'active': isActiveTab(3)}" title="Save configuration" class="tab-pane">
                    <h3 class="tc_wizardDone"><strong>File Storage Step 3 </strong> - Save configuration</h3>
                    <form name="$parent.contentForm3" role="form" class="form-horizontal" novalidate>
                        <br />
                        <h1 class="text-center text-success">
                            <strong><i class="fa fa-check fa-lg"></i> File Storage Configuration Complete</strong>
                        </h1>
                        <h4 class="text-center">Click 'Done' to finish</h4>
                        <br />
                    </form>
                </div>
            </div>
        </wizard>
    </div>
</div>
