<form id="wizard" novalidate="novalidate">
    <div id="bootstrap-wizard-1" class="col-sm-12">
        <div class="form-bootstrapWizard">
            <ul class="bootstrapWizard form-wizard" ng-class="getWizardItemsClass()">
                <li ng-repeat="tab in tabs" ng-class="{'active': isActiveTab(tab.index),
                                                       'prevtab': isPrevTab(tab.index)}">
                    <a ng-class="{'wizard-pointer': isActiveTab(tab.index) || isPrevTab(tab.index),
                                  'wizard-default': isNextTab(tab.index)}" ng-click="setTab(tab.index)">
                        <span class="step">{{tab.index}}</span>
                        <span class="title">{{tab.title}}</span>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div><br /><br /><br />
        <ng-transclude></ng-transclude>
        <div class="form-actions">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="pager wizard no-margin">
                        <li>
                            <a href="#" class="btn btn-lg btn-default pull-left wizard-nav-btn tc_wizardOverview" ng-click="selectSelector()">Wizard Overview</a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-lg btn-default wizard-nav-btn pull-right" id="nextBtn" ng-click="nextTab()">{{nextBtnText()}}</a>
                        </li>
                        <li ng-class="{disabled: disabledPrev()}">
                            <a href="#" class="btn btn-lg btn-default wizard-nav-btn pull-right tc_previousBtn" ng-click="previousTab()">Previous</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>