<div ng-if="error">
  <div class="panel panel-default" ng-if="error.statusText === 'NOT FOUND'">
    <div class="panel-heading">
      <h3 class="panel-title">Error {{error.status}}</h3>
    </div>
    <div class="panel-body">
      The resource could not be found.
    </div>
  </div>
</div>

<oadatatable ng-if="!error"
             class="oadatatable tc_cephNodesTable"
             data="data"
             filter-config="filterConfig"
             selection="selection" >
  <table class="table table-striped table-bordered table-hover dataTable datatable">
    <thead>
      <tr>
        <th class="oadatatablecheckbox" ng-if="selection.available">
          <input type="checkbox" ng-model="selection.checkAll"/>
        </th>
        <th ng-show="columns['Hostname']" sortfield="hostname" sortdir="asc" sortheaderclass sortdefault>Hostname</th>
        <th ng-show="columns['Public address']" sortfield="public_address" sortdir="asc" sortheaderclass>Public address</th>
        <th ng-show="columns['Cluster']" sortfield="cluster" sortdir="asc" sortheaderclass>Cluster</th>
        <th ng-show="columns['Roles']">Roles</th>
        <th ng-show="columns['Key status']" sortfield="key_status" sortdir="asc" sortheaderclass>Key status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in data.results"
          ng-class="{ info: isRowSelected(row) }"
          class="clickable"
          ng-click="toggleSelection(row, $event)">
        <td ng-if="selection.available">
          <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
        </td>
        <td ng-show="columns['Hostname']" ng-bind="row.hostname"></td>
        <td ng-show="columns['Public address']" ng-bind="row.public_address"></td>
        <td ng-show="columns['Cluster']" ng-bind="row.cluster"></td>
        <td ng-show="columns['Roles']" ng-bind="row.roles"></td>
        <td ng-show="columns['Key status']" ng-bind="row.key_status"></td>
      </tr>
    </tbody>
  </table>
</oadatatable>