<ceph-cluster-dropdown cluster="cluster" registry="registry" get-data="getPoolList()"></ceph-cluster-dropdown>

<div ng-show="cluster.results.length > 0">
    <div class="panel panel-default" ng-show="error">
        <div class="panel-heading">
            <h3 class="panel-title">Sorry folks...</h3>
        </div>
        <div class="panel-body">
            Ceph pool resource could not be loaded. Make sure that the ceph module is installed.
        </div>
    </div>

    <div class="panel panel-default" ng-show="!error && !pools.$resolved">
        <div class="panel-heading">
            <h3 class="panel-title">Sorry folks...</h3>
        </div>
        <div class="panel-body">
            Ceph pools are loading...
        </div>
    </div>
</div>

<oadatatable ng-show="!error" data="pools"
        class="oadatatable tc_cephPoolTable" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-sm btn-primary tc_add_btn" type="button" ng-click="addAction()" ng-hide="hasSelection || multiSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_delete_btn" type="button" ng-click="deleteAction()" ng-show="hasSelection || multiSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="tc_deleteItem" ng-click="deleteAction()" ng-class="{disabled: !hasSelection && !multiSelection}">
            <a>
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="table table-striped table-bordered table-hover dataTable datatable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th ng-show="columns['Name']" sortfield="name" sortdir="asc" sortheaderclass sortdefault>Name</th>
                <th ng-show="columns['ID']" sortfield="id" sortheaderclass>ID</th>
                <th ng-show="columns['Used']" sortfield="kb_used" sortheaderclass>Used</th>
                <th ng-show="columns['Placement groups']">Placement groups</th>
                <th ng-show="columns['Replica size']">Replica size</th>
                <th ng-show="columns['Erasure code profile']">Erasure code profile</th>
                <th ng-show="columns['Last change']">Last Change</th>
                <th ng-show="columns['Type']">Type</th>
                <th ng-show="columns['Crush ruleset']">Crush ruleset</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results"
                ng-class="{ info: isRowSelected(row) }"
                class="clickable"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                <td ng-show="columns['Name']" ng-bind="row.name"></td>
                <td ng-show="columns['ID']" ng-bind="row.id"></td>
                <td ng-show="columns['Used']">
                    <div class="progress oaprogress" data-toggle="tooltip" data-placement="right"
                            title="Used: {{row.num_bytes | bytes}} &mdash; Free: {{row.oaFree | bytes}}">
                        <div class="progress-bar" role="progressbar"
                                aria-valuenow="{{row.oaUsed | number: 2}}" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{row.oaUsed | number: 2}}%">
                            <span>{{row.oaUsed | number: 2}}%</span>
                        </div>
                        <div class="progress-bar progress-bar-freespace" role="progressbar"
                                aria-valuenow="{{row.oaUnused}}" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{row.unused}}%">
                        </div>
                    </div>
                </td>
                <td ng-show="columns['Placement groups']" ng-bind="row.pg_num"></td>
                <td ng-show="columns['Replica size']" ng-bind="row.size"></td>
                <td ng-show="columns['Erasure code profile']" ng-bind="row.erasure_code_profile"></td>
                <td ng-show="columns['Last change']" ng-bind="row.last_change"></td>
                <td ng-show="columns['Type']" ng-bind="row.type"></td>
                <td ng-show="columns['Crush ruleset']" ng-bind="row.crush_ruleset"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
<div id="more" ui-view="tab">
</div>
