<oadatatable data="data" class="oadatatable tc_oadatatable_volumes" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-sm btn-primary tc_add_btn" type="button" ng-click="addAction()" ng-hide="hasSelection || multiSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_resize_btn" type="button" ng-click="resizeAction()" ng-show="hasSelection && !multiSelection && resizeable">
            <i class="fa fa-fw fa-upload"></i>Resize
        </a>
        <a class="btn btn-sm btn-primary tc_clone_btn" type="button" ng-click="cloneAction()" ng-show="hasSelection && !multiSelection && !resizeable">
            <i class="fa fa-fw fa-files-o"></i>Clone
        </a>
        <a class="btn btn-sm btn-primary tc_delete_btn" type="button" ng-click="deleteAction()" ng-show="multiSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addAction()">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li ng-class="{disabled: !(hasSelection && resizeable)}">
            <a ng-click="resizeAction()">
                <i class="fa fa-fw fa-upload"></i>Resize
            </a>
        </li>
        <li ng-class="{disabled: !(hasSelection && cloneable)}" ng-click="cloneAction()">
            <a>
                <i class="fa fa-fw fa-files-o"></i>Clone
            </a>
        </li>
        <li class="tc_setProtection" ng-class="{disabled: !hasSelection}" ng-click="protectionAction()">
            <a>
                <i class="fa fa-fw fa-ban"></i>Protection
            </a>
        </li>
        <li class="divider"></li>
        <li ng-class="{disabled: !hasSelection}" ng-click="moreOptionsAction()" uib-tooltip="E.g. snapshots, shares">
            <a>
                <i class="fa fa-fw fa-star"></i>More Options
            </a>
        </li>
        <li class="divider"></li>
        <li class="tc_deleteItem" ng-click="deleteAction()" ng-class="{disabled: !hasSelection && !multiSelection}">
            <a>
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th sortfield="name" sortdir="asc" sortheaderclass sortdefault ng-show="columns['Name']">Name</th>
                <th sortfield="usage.size" sortdir="asc" sortheaderclass ng-show="columns['Size']">Size</th>
                <th sortfield="usage.used" sortdir="asc" sortheaderclass ng-show="columns['Used']">Used</th>
                <th sortfield="status.status" sortdir="asc" sortheaderclass ng-show="columns['Status']">Status</th>
                <th sortfield="is_protected" sortdir="asc" sortheaderclass ng-show="columns['Protection']">Protection</th>
                <th sortfield="type.name" sortdir="asc" sortheaderclass ng-show="columns['Type']">Type</th>
                <th sortfield="path" sortdir="asc" sortheaderclass ng-show="columns['Path']">Path</th>
                <th sortfield="host.title" sortheaderclass ng-show="columns['Host']">Host</th>
                <th sortfield="createdate" sortdir="asc" sortheaderclass ng-show="columns['Created']">Created</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results | orderBy:filterConfig.sortfield:filterConfig.sortorder=='DESC'"
                ng-class="{ info: isRowSelected(row) }"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input class="tc_checkboxes" type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                <td ng-show="columns['Name']" ng-bind="row.name" class="tc_volumeRowName"></td>
                <td ng-show="columns['Size']" ng-bind="row.usage.size | bytes:'MiB'"></td>
                <td ng-show="columns['Used']">
                    <div class="progress oaprogress" ng-show="row.usage.used !== undefined"
                         data-toggle="tooltip" data-placement="right" title="Used: {{row.usage.used_text}} &mdash;
                            Free: {{row.usage.free_text}} &mdash; Stolen: {{row.usage.steal_text}}">
                        <div class="progress-bar" role="progressbar"
                                ng-class="{'progress-bar-success': row.usage.used_pcnt <  row.fswarning,
                                        'progress-bar-warning': row.usage.used_pcnt >= row.fswarning &&
                                                                row.usage.used_pcnt < row.fscritical,
                                        'progress-bar-danger':  row.usage.used_pcnt >= row.fscritical}"
                                aria-valuenow="{{row.usage.used / row.usage.size * 100}}" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{row.usage.used / row.usage.size * 100}}%">
                            <span>{{row.usage.used_pcnt | number:2}}%</span>
                        </div>
                        <div class="progress-bar progress-bar-freespace" role="progressbar"
                                aria-valuenow="{{row.usage.free / row.usage.size * 100}}" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{row.usage.free / row.usage.size * 100}}%">
                        </div>
                        <div class="progress-bar progress-bar-stolenspace" role="progressbar"
                                aria-valuenow="{{row.usage.steal / row.usage.size * 100}}" aria-valuemin="0"
                                aria-valuemax="100" style="width: {{row.usage.steal / row.usage.size * 100}}%">
                        </div>
                    </div>
                </td>
                <td ng-show="columns['Status']"><i class="fa" ng-class="{
                    'fa-question':                          row.status.status == '',
                    'fa-check':                             row.status.status == 'good',
                    'fa-exclamation-triangle icon-warning': row.status.status == 'warn',
                    'fa-bomb icon-danger':                  row.status.status == 'crit',
                    'fa-chain-broken icon-danger':          row.status.status == 'fail',
                    'fa-lock':                              row.status.status == 'locked'
                    }" uib-tooltip="{{row.status.status | statusText}}"></i></td>
                <td ng-show="columns['Protection']" id="is_protected">
                    <i class="fa" ng-class="{'fa-check': row.is_protected == true}"></i>
                </td>
                <td ng-show="columns['Type']" ng-bind="row.type.name"></td>
                <td ng-show="columns['Path']" ng-bind="row.path"></td>
                <td ng-show="columns['Host']" ng-bind="row.host.title"></td>
                <td ng-show="columns['Created']" ng-bind="row.createdate | date:'short'"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
<div id="more" ui-view="tab">
</div>
