<div class="tree">
    <ul>
        <li><span ng-bind="selection.item.name"></span></li>
        <ul>
            <li ng-repeat="data in storage.devices" ng-include="'templates/storageTreeNode.html'"></li>
        </ul>
    </ul>
</div>
