<div class="openattic-modal-header">
    <span>Clone {{type}}</span>
</div>

<form name="cloneForm" role="form" novalidate>
    <div class="openattic-modal-content">
        <p>
            You are about to create a clone of the {{type}} <strong>{{volume.name}}</strong>.
        </p>
        <p>
            To confirm, please enter the name of the clone and click <kbd>Clone {{type}}</kbd>, or cancel and return to the page.
        </p>

        <div class="form-group"
             ng-class="{'has-error': (submitted || cloneForm.name.$dirty) && cloneForm.name.$invalid}">
            <input type="text" class="form-control" name="name" placeholder="Name..." autocomplete="off"
                   ng-model="clone_obj.name" validname required autofocus>

            <!-- Error -->
            <span class="help-block tc_cloneNameRequired"
                  ng-show="cloneForm.name.$dirty && cloneForm.name.$error.required">
                This field is required.
            </span>
            <span class="help-block tc_cloneNoValidName"
                  ng-show="cloneForm.name.$dirty && cloneForm.name.$error.validname">
                {{errortext}}
            </span>
            <!-- end Error -->
        </div>
    </div>

    <div class="openattic-modal-footer">
        <div class="button-group text-right">
            <button id="bot2-Msg1" class="btn btn-primary btn-sm"
                    ng-click="clone()" ng-disabled="cloneForm.$invalid">
                Clone {{type}}
            </button>
            <button id="bot1-Msg1" class="btn btn-link btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>