<div class="col-sm-12 col-lg-6">
    <form name="shareForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 class="panel-title">Create HTTP Share</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error': (submitted || shareForm.path.$dirty)
                    && shareForm.path.$invalid }">
                        <label class="col-sm-3 control-label" for="sharePath">Path</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-share"></i></span>
                                <input type="text" class="form-control" placeholder="Path..."
                                       ng-model="share.path" name="path" id="sharePath" required>
                            </div>
                            <span class="help-block tc_pathRequired" ng-show="(submitted || shareForm.path.$dirty) && shareForm.path.$error.required">
                                The path is required.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton" ng-click="submitAction(shareForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>