<oadatatable data="snapshotsData" class="oadatatable tc_oadatatable_snapshots" filter-config="snapshotsFilter"
             selection="snapshotsSelection" special="dynSnap">
    <actions>
        <a class="btn btn-sm btn-primary tc_snapshotAdd" type="button"
           ng-click="addAction()" ng-hide="snapshotsSelection.item">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_deleteSnapItem" type="button"
           ng-click="deleteAction()" ng-show="snapshotsSelection.item">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addAction()"><i class="fa fa-fw fa-plus"></i>Add</a>
        </li>
        <li class="tc_snap_clone" ng-class="{disabled: !snapshotsSelection.item}" ng-click="cloneAction()">
            <a><i class="fa fa-fw fa-files-o"></i>Clone</a>
        </li>
        <li class="divider"></li>
        <li ng-class="{disabled: !snapshotsSelection.item}" max-selected=1>
            <a ng-click="deleteAction()"><i class="fa fa-fw fa-trash-o"></i>Delete</a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available">
                    <input type="checkbox" ng-model="selection.checkAll"/>
                </th>
                <th sortfield="name" sortdir="asc" sortheaderclass sortdefault ng-show="columns['Name']">Name</th>
                <th sortfield="megs" sortdir="asc" sortheaderclass ng-show="!special && columns['Size']">Size</th>
                <th ng-show="!special && columns['Used']">Used</th>
                <th ng-show="columns['Type']">Type</th>
                <th ng-show="columns['Status']">Status</th>
                <th ng-show="columns['Path']">Path</th>
                <th sortfield="createdate" sortdir="asc" sortheaderclass ng-show="columns['Created']">Created</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results" ng-class="{ info: isRowSelected(row) }"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available">
                    <input class="tc_checkboxes" type="checkbox" checklist-model="selection.items" checklist-value="row"/>
                </td>
                <td ng-show="columns['Name']" ng-bind="row.name" class="tc_snapRowName"></td>
                <td ng-show="!special && columns['Size']" ng-bind="row.usage.size_text"></td>
                <td ng-show="!special && columns['Used']">
                    <div class="progress oaprogress" ng-show="row.usage.used !== undefined"
                        data-toggle="tooltip" data-placement="right"
                        title="Used: {{row.usage.used_text}} &mdash; Free: {{row.usage.free_text}} &mdash; Stolen: {{row.usage.steal_text}}">
                        <div class="progress-bar" role="progressbar"
                            ng-class="{'progress-bar-success': row.usage.used_pcnt <  row.fswarning,
                                        'progress-bar-warning': row.usage.used_pcnt >= row.fswarning
                                        && row.usage.used_pcnt < row.fscritical,
                                        'progress-bar-danger':  row.usage.used_pcnt >= row.fscritical}"
                            aria-valuenow="{{row.usage.used / row.usage.size * 100}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{row.usage.used / row.usage.size * 100}}%">
                            <span>{{row.usage.used_pcnt | number:2}}%</span>
                        </div>
                        <div class="progress-bar progress-bar-freespace" role="progressbar"
                            aria-valuenow="{{row.usage.free / row.usage.size * 100}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{row.usage.free / row.usage.size * 100}}%">
                        </div>
                        <div class="progress-bar progress-bar-stolenspace" role="progressbar"
                            aria-valuenow="{{row.usage.steal / row.usage.size * 100}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{row.usage.steal / row.usage.size * 100}}%">
                        </div>
                    </div>
                </td>
                <td ng-show="columns['Type']" ng-bind="row.type.name"></td>
                <td ng-show="columns['Status']"><i class="fa" ng-class="{
                    'fa-question':             row.status.status == '',
                    'fa-check':                row.status.status == 'good',
                    'fa-exclamation-triangle': row.status.status == 'warn',
                    'fa-bomb':                 row.status.status == 'crit',
                    'fa-chain-broken':         row.status.status == 'fail',
                    'fa-lock':                 row.status.status == 'locked'
                    }"></i></td>
                <td ng-show="columns['Path']" ng-bind="row.path"></td>
                <td ng-show="columns['Created']" ng-bind="row.createdate | date:'short'"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
