<div class="col-sm-12 col-lg-6">
    <form name="volumeForm" role="form" class="form-horizontal" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading tc_formHeadline">
                <h3 class="panel-title">Create Volume: {{volume.name}}</h3>
            </div>
            <div class="panel-body">
                <volume-add-form volume-form="volumeForm" result="volume"></volume-add-form>
                <drbd-add validation="volumeForm" result="volume"></drbd-add>
            </div>
            <div class="panel-footer">
                <div class="button-group text-right">
                    <button type="submit" class="btn btn-sm btn-primary tc_submitButton"
                            ng-click="submitAction(volumeForm)">
                        Submit
                    </button>
                    <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="cancelAction()">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
