<!-- TODO: Data-Table -->
<oadatatable data="data" class="oadatatable tc_oadatatable_pools" filter-config="filterConfig" selection="selection">
    <!-- Not implemented yet.
    <actions>
        <a class="btn btn-sm btn-primary tc_addPoolBtn" type="button" ng-click="addAction()" ng-hide="hasSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_deletePoolBtn" type="button" ng-click="deleteAction()" ng-show="hasSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addAction(oadatatable)">
                <i class="fa fa-fw fa-plus"></i>Add
            </a>
        </li>
        <li class="tc_deletePoolBtn2" ng-class="{disabled: !hasSelection}" max-selected=1>
            <a ng-click="deleteAction()">
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    -->
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th class="oadatatablecheckbox" ng-if="selection.available">
                <input type="checkbox" ng-model="selection.checkAll"/>
            </th>
            <th sortfield="name" sortheaderclass sortdefault sortdir="asc" ng-show="columns['Name']">Name</th>
            <th sortfield="usage.size" sortheaderclass ng-show="columns['Size']">Size</th>
            <th sortfield="usage.used" sortdir="asc" sortheaderclass ng-show="columns['Used']">Used</th>
            <th sortfield="status.status" sortdir="asc" sortheaderclass ng-show="columns['Status']">Status</th>
            <th sortfield="type.name" sortdir="asc" sortheaderclass ng-show="columns['Type']">Type</th>
            <th sortfield="host.title" sortheaderclass ng-show="columns['Host']">Host</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data.results | orderBy:filterConfig.sortfield:filterConfig.sortorder=='DESC'"
            ng-class="{ info: isRowSelected(row) }"
            class="clickable"
            ng-click="toggleSelection(row, $event)">
            <td ng-if="selection.available">
                <input type="checkbox" checklist-model="selection.items" checklist-value="row"/>
            </td>
            <td ng-show="columns['Name']" ng-bind="row.name"></td>
            <td ng-show="columns['Size']" ng-bind="row.usage.size | bytes:'MiB'"></td>
            <td ng-show="columns['Used']">
                <div class="progress oaprogress" ng-show="row.usage.used !== undefined"
                     data-toggle="tooltip" data-placement="right"
                     title="Used: {{row.usage.used_text}} &mdash; Free: {{row.usage.free_text}} &mdash;
                     Stolen: {{row.usage.steal_text}}">
                    <div class="progress-bar" role="progressbar"
                         ng-class="{'progress-bar-success': row.usage.used_pcnt <  75,
                                    'progress-bar-warning': row.usage.used_pcnt >= 75 && row.usage.used_pcnt < 85,
                                    'progress-bar-danger':  row.usage.used_pcnt >= 85}"
                         aria-valuenow="{{row.usage.used / row.usage.size * 100}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{row.usage.used / row.usage.size * 100}}%">
                        <span>{{row.usage.used_pcnt | number:2}}%</span>
                    </div>
                    <div class="progress-bar progress-bar-freespace" role="progressbar"
                         aria-valuenow="{{row.usage.free / row.usage.size * 100}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{row.usage.free / row.usage.size * 100}}%">
                    </div>
                    <div class="progress-bar progress-bar-stolenspace" role="progressbar"
                         aria-valuenow="{{row.usage.steal / row.usage.size * 100}}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{row.usage.steal / row.usage.size * 100}}%">
                    </div>
                </div>
            </td>
            <td ng-show="columns['Status']"><i class="fa" ng-class="{
                'fa-question':                          row.status.status == '',
                'fa-check':                             row.status.status == 'good',
                'fa-exclamation-triangle icon-warning': row.status.status == 'warn',
                'fa-bomb icon-danger':                  row.status.status == 'crit',
                'fa-chain-broken icon-danger':          row.status.status == 'fail',
                'fa-lock':                              row.status.status == 'locked'
                }" uib-tooltip="{{row.status.status | statusText}}"></i></td>
            <td ng-show="columns['Type']" ng-bind="row.type.name"></td>
            <td ng-show="columns['Host']" ng-bind="row.host.title"></td>
        </tr>
        </tbody>
    </table>
</oadatatable>
<div id="more" ui-view="tab">
</div>
