<div class="col-lg-6" ng-repeat="graph in $ctrl.config.graphs">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left" ng-bind="graph.name"></h3>
      <div class="panel-toolbar">
        <i class="fa fa-spinner fa-spin" ng-show="$ctrl.isLoading"></i>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <nvd3 api="graph.api"
            config="graph.config"
            data="graph.data"
            options="graph.options"></nvd3>
    </div>
  </div>
</div>
