<form name="hostForm" role="form" class="form-horizontal" novalidate>
    <div ng-class="config.header ? 'panel panel-default' : ''">
        <div class="panel-heading tc_formHeadline" ng-if="config.header">
            <h3 class="panel-title tc_hostAddTitle tc_hostEditTitle">{{editing ? "Edit" : "Add"}} Host: {{host.name}}</h3>
        </div>
        <div class="panel-body">
            <fieldset>
                <div class="form-group" ng-class="{'has-error': (submitted || hostForm.name.$dirty)
                            && hostForm.name.$invalid}">
                    <label ng-class="config.class.label" class="control-label" for="hostName">Hostname</label>
                    <div ng-class="config.class.field">
                        <input type="text" class="form-control" placeholder="Hostname..."
                               ng-model="host.name" name="name"
                               id="hostName" required validname uniquename="host">
                        <span class="help-block tc_hostnameRequired" ng-show="(submitted || hostForm.name.$dirty)
                                    && hostForm.name.$error.required">
                                        The name is required.
                                    </span>
                        <span class="help-block tc_hostNameNotValid" ng-show="hostForm.name.$error.validname">{{errortext}}</span>
                        <span class="help-block tc_noUniqueName" ng-show="hostForm.name.$error.uniquename">
                                        The chosen host name is already in use.
                                    </span>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-class="config.class.labelOffset" ng-class="config.class.field" ng-repeat="(key, type) in wwn">
                        <div class="checkbox checkbox-primary">
                            <input type="checkbox" ng-model="type.check">
                            <label class="tc_{{key}}Text" ng-click="type.check = !type.check" ng-bind="type.desc"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-repeat="(key, type) in wwn"
                     ng-class="{'has-error': hostForm[key].$invalid}" ng-show="type.check">
                    <label ng-class="config.class.label" class="control-label" for="data[key]" ng-bind="type.label"></label>
                    <div ng-class="config.class.field">
                        <tags-input name="{{key}}" class="tags-input-home" placeholder="Add a valid {{getFormats(key)}}"
                                    ng-model="data[key]"
                                    add-on-space="true"
                                    on-tag-adding="validShareName($tag, key)"
                                    on-tag-added="addIni($tag, key)"
                                    on-tag-removed="rmIni($tag)"
                                    text="type.text"
                                    current-tag-wwn-validation>
                        </tags-input>
                        <div class="help-block tc_wwn_invalid" ng-show="hostForm[key].$error.validTag">
                            <p class="tc_err_{{wwn[key].current}}" ng-bind-html="getHelpText(wwn[key].current, true)"></p>
                            <p class="tc_err_overview" ng-show="wwn[key].current === 'all'">
                                You can use the following formats:
                                <span class="tc_all_{{format}}" ng-repeat="format in wwn[key].usage">
                                    <span ng-bind-html="getHelpText(format)"></span>
                                </span>
                            </p>
                            <p ng-show="wwn[key].current[0] === 'exists'" ng-bind="validationText.exists(wwn[key].current[1])"></p>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-footer" ng-if="config.header">
            <div class="button-group text-right">
                <button type="submit"
                        class="btn btn-sm btn-primary tc_submitButton"
                        ng-click="submitAction(hostForm)"
                        ng-disabled="hostForm.$invalid || hostForm.$submitted">
                    Submit
                    <i class="fa fa-spinner fa-spin fa-fw" ng-if="hostForm.$submitted"></i>
                </button>
                <button type="button" class="btn btn-sm btn-default tc_backButton" ng-click="goBack()">
                    Back
                </button>
            </div>
        </div>
    </div>
</form>
