<oadatatable class="oadatatable tc_oadatatable_hosts" data="data" filter-config="filterConfig" selection="selection">
    <actions>
        <a class="btn btn-sm btn-primary tc_addHost" type="button" ng-click="addAction()" ng-hide="singleSelection || multiSelection">
            <i class="fa fa-fw fa-plus"></i>Add
        </a>
        <a class="btn btn-sm btn-primary tc_editHost" type="button" ng-click="editAction()" ng-show="singleSelection">
            <i class="fa fa-fw fa-pencil"></i>Edit
        </a>
        <a class="btn btn-sm btn-primary tc_delete_btn" type="button" ng-click="deleteAction()" ng-show="multiSelection">
            <i class="fa fa-fw fa-trash-o"></i>Delete
        </a>
        <li>
            <a ng-click="addAction()">
                <i class="fa fa-fw fa-plus"></i>Add</a>
        </li>
        <li class="divider"></li>
        <li class="tc_deleteHost tc_deleteItem" ng-class="{disabled: !singleSelection && !multiSelection}">
            <a ng-click="deleteAction()">
                <i class="fa fa-fw fa-trash-o"></i>Delete
            </a>
        </li>
    </actions>
    <table class="datatable table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th class="oadatatablecheckbox" ng-if="selection.available"><input type="checkbox" ng-model="selection.checkAll"/></th>
                <th sortfield="name" sortdir="asc" sortheaderclass sortdefault ng-show="columns['Name']">Name</th>
                <th ng-show="columns['Primary IP']">Primary IP</th>
                <th ng-show="columns['OA Version']">OA Version</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data.results | orderBy:filterConfig.sortfield:filterConfig.sortorder=='DESC'"
                ng-class="{ info: isRowSelected(row) }"
                class="clickable"
                ng-click="toggleSelection(row, $event)">
                <td ng-if="selection.available"><input type="checkbox" checklist-model="selection.items" checklist-value="row"/></td>
                <td ng-show="columns['Name']" ng-bind="row.name"></td>
                <td ng-show="columns['Primary IP']" ng-bind="row.primary_ip_address && row.primary_ip_address.address || ''"></td>
                <td class="tc-oa-host-version" ng-show="columns['OA Version']" ng-bind="row.oa_version ? row.oa_version.package.VERSION : ''"></td>
            </tr>
        </tbody>
    </table>
</oadatatable>
<div id="more" ui-view="tab">
</div>
