<oa-delete-confirmation-modal title="{{ (rbds.length > 1) ? 'Delete RBDs' : 'Delete RBD' }}"
                           on-confirm="delete()" on-cancel="cancel()">
  <!-- single rbd -->
  <div ng-if="rbds.length === 1">
    <p>
      You are about to delete the RBD <strong>{{rbds[0].name}}</strong>.
    </p>
    <p>
      Be aware that you will <strong>lose all data</strong>
      in that RBD and that this operation <strong>cannot be undone</strong>.
    </p>
  </div>
  <!-- end single rbd -->

  <!-- multiple rbds -->
  <div ng-if="rbds.length > 1">
    <p>
      You are about to delete multiple RBDs.
    </p>
    <p>
      Be aware that you will <strong>lose all data</strong>
      in the RBDs and that this operation <strong>cannot be undone</strong>.
    </p>
    <span class="text-danger">The following RBDs will be deleted:</span>
      <ul class="text-danger">
        <li ng-repeat="rad in rbds">
          {{rad.name}} ({{rad.size | bytes}})
        </li>
      </ul>
  </div>
  <!-- end multiple rbds -->
</oa-delete-confirmation-modal>