<div class="panel panel-default tc_detailsTab">
    <div class="panel-heading">
        <h3 class="panel-title">Details of {{selection.item.name}}</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd ng-bind="selection.item.name"></dd>
            <dt>Block name prefix:</dt>
            <dd ng-bind="selection.item.block_name_prefix"></dd>
            <dt>Pool:</dt>
            <dd ng-bind="selection.item.pool.name"></dd>
            <dt>Size:</dt>
            <dd ng-bind="selection.item.size | bytes"></dd>
            <dt>Object size:</dt>
            <dd ng-bind="selection.item.obj_size | bytes"></dd>
            <dt>Number of objects:</dt>
            <dd ng-bind="selection.item.num_objs"></dd>
            <div ng-if="selection.item.features.length > 0">
                <dt>Features:</dt>
                <dd ng-repeat="feature in selection.item.features" ng-bind="feature"></dd>
            </div>
        </dl>
    </div>
</div>
